/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/css/main.scss ***!
  \***************************************************************************************************************/
.btn {
  color: #fff;
}
@media (min-width: 1000px) {
  .btn {
    color: aqua;
    background-color: pink;
    border: 0;
  }
}
