.btn{
    display: inline-flex;
    padding:.5em 1em;
    border-radius:$rad-primary;
    
   
}

.btn__primary{
    background-color: $clr-accent;
    color:#fff;
}



.btn-icon{
    margin-right:.8em;

    svg{

    }

    path{
        stroke:#fff;
        stroke-width:1px;
    }
}