.profile-name{
    // font-size:3em;

}


.profile-title{
    margin-bottom:1em;
    color:$clr-faint;
}

.profile-excerpt{
    font-size:1.2em;
    margin-bottom:1.3em;

    @include md{
        font-size:1.4em;
    }

    @include lg{
        font-size:1.4em;
    }
}