.index-layout-container{
    min-height:100vh;
    padding:1.5em 1em 0 1em;
    display:flex;
    flex-direction:column;
   
   
   
    @media(min-width:900px){
       width:850px;
       margin:auto;
    }
}