.projectBreadcrumb{
    display: flex;
    margin-bottom:1em;
    & span:nth-child(1){
        &:hover{
            text-decoration: underline;
        }
    }
    & span:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
             stroke: #000;
             width:4px;
             
            path{
               stroke-width:20; 
            }
        }
    }
    & span:nth-child(3){
        font-family:$font-head;
        text-transform: capitalize;
        font-size:1.2em;
    }
}

.project-single-description{
    // font-size:1.1em;
    margin-bottom:1.5em;


 
}

.project-single-info{
    margin-bottom:2em;
    ul{

    }

    li{
        margin-bottom:4px;
        &.ov-flow{
            display: flex;
            align-items: flex-start;
          
            div{
                display:flex;
                flex-wrap: wrap;
            }
        }
        & .c-head{
            text-transform:uppercase;
            background-color:$clr-accent;
            padding:2px 4px;
            font-size:.8em;
            // font-weight:bold;
            margin-right:20px;
        }

        & .c-content{
            font-size:1.2em;
        }

        .website-link{
            color:$clr-secondary;
            font-size:.8em;

            svg{
                width:10px;
                stroke:$clr-secondary;
                fill:$clr-secondary;
                display: inline-block;

                path{
                    stroke-width:18;
                }
            }
        }
        
    }
}


.project-single-images{
    img{
        width:100% !important;
        height:auto;
    }
}