/********fonts***********************/ 

$font-primary: "Work Sans","Sans-serif";
$font-secondary: "El Messiri";




/***********colors*******************/
$clr-primary: #E6E6E7;
$clr-secondary: #785B00;
$clr-accent: #9F8F6E;


/**********shadows************/
$shadow-primary: rgba(0, 0, 0, 0.16) 0px 1px 4px;