/********fonts***********************/ 

$font-head:'M PLUS Rounded 1c', sans-serif;
$font-primary:Nunito, sans-serif;





/***********colors*******************/
$clr-primary: #E6E6E7;
$clr-secondary: #785B00;
$clr-accent: #9F8F6E;
$clr-faint: #777777;
$clr-sandybeach:#FFEFCA;

/**********shadows************/
$shadow-primary: rgba(0, 0, 0, 0.16) 0px 1px 4px;



/*************border radius**************/
$rad-primary:6px;